@import "tileinfopanels/start-tile.css";
@import "tileinfopanels/street-tile.css";
@import "tileinfopanels/tax-tile.css";
@import "tileinfopanels/railway-tile.css";
@import "tileinfopanels/go-to-jail-tile.css";
@import "tileinfopanels/jail-tile.css";
@import "tileinfopanels/free-parking-tile.css";
@import "tileinfopanels/chest-tile.css";
@import "tileinfopanels/chance-tile.css";
@import "tileinfopanels/utility-tile.css";

@import "ui/playerpanel.css";

.tile:hover {
    -fx-background-color: #67c0da;
    -fx-font-size: 1.11em;
}

.tile-selected {
    -fx-background-color: #62b4b6;
}

.tile-title-black {
    -fx-text-fill: black;
}

.tile-title-white {
    -fx-text-fill: white;
}

.label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.tile-owner-title {
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.tile-owner {
    -fx-font-weight: normal;
    -fx-font-size: 1em;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 4px 8px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #5a5a5a;
}

.button:pressed {
    -fx-background-color: #1a1a1a;
}

.pionContainer {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.area {
    -fx-border-color: #1e1e1e;
    -fx-border-width: 0 0 0 2;
    -fx-border-insets: 0 0 0 -1;
}

Line {
    -fx-stroke   :  #1e1e1e;
    -fx-stroke-width: 2px;
}