/* TableView */
.table-view {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

/* TableView header */
.table-view .column-header-background {
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 10px 10px 0 0; /* Top left and top right rounded */
    -fx-padding: 0 0 0 0; /* Remove padding */
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 40px;
    -fx-border-width: 0 0 1px 0;
    -fx-background-color: transparent;
    -fx-border-color: #4a4a4a;
    -fx-border-insets: 0 0 1px 0; /* Remove the right padding */
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 0 0 0 0;
}

/* TableView rows */
.table-view .table-row-cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10px;
    -fx-cell-size: 40px;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #3c3c3c;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #4a4a4a;
}

/* TableView cells */
.table-cell {
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-wrap-text: true;
}

.table-cell:last-visible {
    -fx-border-color: transparent; /* Remove the rightmost divider */
}

.table-cell:last-visible {
    -fx-alignment: center;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: #2b2b2b;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #5a5a5a;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: #2b2b2b;
    -fx-padding: 0 0 0 0;
}

.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
}

/* Disable horizontal scrollbar */
.table-view .scroll-bar:horizontal {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

/* Hide the right divider */
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0; /* Remove padding */
}

.table-view .constrained-resize-policy {
    -fx-max-width: -1;
    -fx-min-width: -1;
}

.table-view:focused {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view .table-row-cell .timestampColumn {
    -fx-text-alignment: center;
}

.table-view .table-row-cell .logColumn {
    -fx-text-alignment: left;
    -fx-padding: 0 0 0 10px;
}

.anchor-pane {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10px;
}


.button {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #5a5a5a;
}

.button:pressed {
    -fx-background-color: #1a1a1a;
}