.label {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: dimgray;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-border-color: dimgray;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;;
}

.color-picker {
    -fx-color-label-visible: false;
    -fx-background-color: transparent;
    -fx-arrows-visible: false;
}

.slider {
    -fx-background-color: dimgray;
    -fx-background-radius: 10px;
}

.button {
    -fx-background-color: dimgray;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-border-color: dimgray;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: darkgray;
}

.button:pressed {
    -fx-background-color: gray;
}

.error {
    -fx-text-fill: red;
}