.utility-title {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.utility-info {
    -fx-font-weight: normal;
    -fx-font-size: 1em;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.utility-tile-owner-title {
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.utility-tile-owner {
    -fx-font-weight: normal;
    -fx-font-size: 1em;
    -fx-alignment: center;
}