.playerPanel {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: dimgray;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-insets: 10px;
}

.playerPanel .button {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 4px 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

.playerPanel  .button:hover {
    -fx-background-color: #5a5a5a;
}

.playerPanel .button:pressed {
    -fx-background-color: #1a1a1a;
}

.activePlayerPanel {
    -fx-border-color: white;
}